/* 2017-7-26 11:44:02 | 修改 木遥（微信:  http://marsgis.cn/weixin.html ） */
html,
body,
.wrapper {
  height: 100% !important;
}

.wrapper {
  overflow: hidden;
}

.main-header {
  position: fixed;
  width: 100%;
  top: 0;
}

.edit-container {
  min-height: 52px;
  background-color: #f9f9f9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 52px;
}

section.content {
  min-height: 100%;
  width: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

.content .pane {
  position: relative;
  padding: 0;
}

#codePane {
  height: 100%;
  box-shadow: 2px 0px 6px #cccccc;
}

.codePaneTool {
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 24px;
  z-index: 800;
  background-color: white;
  padding: 8px 22px;
  box-shadow: 0 2px 10px #dddddd;
}

#editor {
  font-family: Consolas, monaco, "Courier New", Courier, monospace;
  position: absolute;
  top: 42px;
  bottom: 0;
  right: 0;
  width: 100%;
  line-height: 18px;
  font-size: 13px;
}

#previewPane {
  height: 100%;
}

#innerPage {
  width: 100%;
  height: 100%;
  border: none;
}

.editorBtn {
  display: inline-block;
  width: 60px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #0083cb;
  float: right;
  cursor: pointer;
}

.editorBtn:hover {
  font-weight: bold;
}

#showCodeBtn {
  cursor: pointer;
  z-index: 900;
  position: absolute;
  bottom: 35px;
  left: 0px;
  padding: 0 10px;
  min-width: 54px;
  height: 30px;
  line-height: 30px;
  margin: 4px;
  text-align: center;
  background-color: rgba(34, 45, 50, 0.7);
  color: #fff;
}

#showCodeBtn:hover {
  background-color: rgba(34, 45, 50, 0.9);
}

@media screen and (max-width: 992px) {
  #codePane {
    display: none;
  }

  .codePaneTool {
    padding: 8px 68px 8px 20px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #e7e7e7;
  -webkit-box-shadow: inset 0 0 6px #d1cfcf;
}
