/*
* index页面css
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    font-size: 14px;
    background:#000;
    -webkit-overflow-scrolling: touch;
}

body {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #62a8ea;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #89bceb;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline: none;
    outline-offset: -2px;
}

ul,
li {
    list-style: none;
}

#centerDiv {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    border: none;
    overflow: hidden;
    position: relative;
}


.signmask {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    filter: alpha(opacity=50);
    position: fixed;
    display: block;
    z-index: 20180910;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5) url("../img/icon-operate.png") center no-repeat;
}


/*dark样式*/
.dark {
    color: #ffffff;
}

.dark a {
    color: #ffffff;
    text-decoration: none;
    margin-top: 1px;
    margin-right: 2px;
}

.dark a:hover {
    color: #CC3300;
    text-decoration: underline;
}

.dark .content {
    overflow: auto;
    position: relative;
    background: transparent;
    height: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dark .form-control,
.dark .input-group-addon,
.dark .btn-default,
.dark .dropdown-menu {
    color: #ffffff;
    background-color: rgba(63, 72, 84, 0.7);
    border: none;
}

.dark input{
    color: #ffffff;
    background-color: rgba(63, 72, 84, 0.7);
    border-width: 1px;
}

.dark .btn-info {
    background-color: rgba(119, 214, 225, 0.2);
}

.dark .btn-primary {
    background-color: rgba(32, 160, 255, 0.2);
}

.dark .btn-danger {
    background-color: rgba(255, 109, 109, 0.2);
}

.dark .btn-warning {
    background-color: rgba(244, 176, 102, 0.2);
}

.dark .table-hover>tbody>tr:hover {
    background-color: rgba(63, 72, 84, 1);
}

.dark .dropdown-menu>li>a {
    color: #ffffff;
}

.dark .dropdown-menu>li>a:hover,
.dark .dropdown-menu>li>a:focus {
    background-color: #4db3ff;
}


.dark .mars3d-popup-color {
    color: #ffffff;
}

.dark .mars3d-popup-background {
    background: rgba(63, 72, 84, 0.9);
}

/*黑色字体 + 白色背景*/
/* .mars3d-popup-color,
.mars-popup-titile {
  color: #2b2929;
}

.mars3d-popup-background {
  background: rgba(255, 255, 255, 0.85);
} */


/**cesium按钮背景色*/
.cesium-button {
    background-color: #3f4854;
    color: #e6e6e6;
    fill: #e6e6e6;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    line-height: 32px;
}

.cesium-viewer-geocoderContainer .cesium-geocoder-input {
    background-color: rgba(63, 72, 84, 0.7);
}

.cesium-viewer-geocoderContainer .cesium-geocoder-input:focus {
    background-color: rgba(63, 72, 84, 0.9);
}

.cesium-viewer-geocoderContainer .search-results {
    background-color: #3f4854;
}

.cesium-geocoder-searchButton {
    background-color: #3f4854;
}

.cesium-infoBox-title {
    background-color: #3f4854;
}

.cesium-infoBox {
    background: rgba(63, 72, 84, 0.9);
}
 .cesium-toolbar-button img{
     height:100%;
 }

.cesium-performanceDisplay-defaultContainer {
    top: auto;
    bottom: 35px;
    right: 50px;
}
.cesium-performanceDisplay-ms,.cesium-performanceDisplay-fps{
    color: #fff;
}

/**cesium工具栏位置*/
.cesium-viewer-toolbar {
    top: auto;
    left: auto;
    right: 12px;
    bottom: 35px;
}

.cesium-viewer-toolbar>.cesium-toolbar-button,
.cesium-navigationHelpButton-wrapper,
.cesium-viewer-geocoderContainer {
    margin-bottom: 5px;
    float: right;
    clear: both;
    text-align: center;
}

.cesium-baseLayerPicker-dropDown {
    bottom: 0;
    right: 40px;
    max-height: 700px;
    margin-bottom: 5px;
}

.cesium-navigation-help {
    top: auto;
    bottom: 0;
    right: 40px;
    transform-origin: right bottom;
}

.cesium-sceneModePicker-wrapper {
    width: auto;
}

.cesium-sceneModePicker-wrapper .cesium-sceneModePicker-dropDown-icon {
    float: left;
    margin: 0 3px;
}

.cesium-viewer-geocoderContainer .search-results {
    left: 0;
    right: 40px;
    width: auto;
    z-index: 9999;
}

.cesium-infoBox-title {
    background-color: #3f4854;
}

.cesium-infoBox {
    top: 50px;
    background: rgba(63, 72, 84, 0.9);
}


/**左下工具栏菜单*/
.toolbar-dropdown-menu-div {
    background: rgba(43, 44, 47, 0.8);
    border: 1px solid #2b2c2f;

    z-index: 991;
    position: absolute;
    right: 60px;
    bottom: 40px;
    display:none;
}

.toolbar-dropdown-menu {
    min-width: 110px;
    padding: 0;
}
.toolbar-dropdown-menu > li {
    padding: 0 3px;
    margin: 2px 0;
}
.toolbar-dropdown-menu > li > a {
    color: #edffff;
    display: block;
    padding: 4px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.6;
    white-space: nowrap;
    text-decoration: none;
}

.toolbar-dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #444d59;
}

.toolbar-dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #444d59;
}

.toolbar-dropdown-menu i {
    padding-right: 5px;
}


/**infoview浮动面板*/
.infoview {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    color: #ffffff;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 14px rgba(128, 128, 128, 0.5);
    z-index: 999;
}
.infoview-right{
  left: auto;
  right: 10px;
}

.infoview input,
.infoview select,
.infoview textarea {
    color: #ffffff;
    background-color: rgba(32, 160, 255, 0.2);
    border: 1px solid #e4eaec;
    font-size: 14px;
}

.infoview div {
    margin-top: 5px;
}


.info-tips {
  margin: 5px 10px 20px 10px;
}



.rightbottom {
    top: auto;
    bottom: 60px;
    left: auto;
    right: 50px;
}

.loadingIndicator {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -33px;
    margin-left: -33px;
    width: 66px;
    height: 66px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/loader.gif);
}

.mars-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mars-table tr td {
    padding: 5px 10px;
    text-align: left;
    white-space: nowrap;
}

.mars-table tr td:first-child {
    border-left: none;
}

.mars-table .nametd {
    padding: 5px 20px 5px 10px;
}


.tb-border {
    border: #cde1de 1px solid;
}

.tb-border tr td {
    border: #cde1de 1px solid;
}



/*滚动条*/
body,
html {
    scrollbar-base-color: #f4f7fc;
    scrollbar-track-color: #f4f7fc;
    scrollbar-face-color: #797979;
    scrollbar-arrow-color: #f4f7fc;
    scrollbar-shadow-color: #f4f7fc;
    scrollbar-3dlight-color: #f4f7fc;
    scrollbar-highlight-color: #f4f7fc;
    scrollbar-darkshadow-color: #f4f7fc;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
    display: none
}

::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border: 0
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: transparent;
    border-radius: 5px
}

::-webkit-scrollbar-thumb {
    padding-top: 100px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0 rgba(0, 0, 0, .07);
    background-color: #797979;
    min-height: 28px;
    border-radius: 4px;
    background-clip: padding-box
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border: 0
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
    background-color: rgba(0, 0, 0, .4)
}

::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35);
    background-color: rgba(0, 0, 0, .5)
}
